body{
    font-family: sans-serif;
    margin: 0!important;
    padding: 0 !important;
}

.backImg{
    background: url(backHome.jpg);
    background-size: cover;
    width: 100%;
    background-position: center;
    height: 100vh;


}


#homeText, #homeText1{
    text-align: center;
    font-weight: 900;

    float: right;
    color:white;
    font-size: 7vw;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    position: relative;
    
     position:relative;
    top: 50px;
    

}

h1Text{

}

#inline{
    display: inline;
}

#icon{
    padding-left: 10px;

}
.topSection{
    color: 	gray;
    padding-bottom: 30px;
    background-color: black;

}

.titleFont{
    font-family: 'Lobster', cursive;

}

.midSection {
    background-image: url("homePhoto.jpg");
    background-size: cover;

}

nav{
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;



}
.navbar{
    position: -webkit-sticky;
	position: sticky;
	top:0px;
    left: 0;
    
}

a:hover{
    background-color: darky;
}

*{
    box-sizing: border-box;
}

header{
    width: 100% !important;


}

.gallery{
    border: 1px solid #ccc
}

.gallery img{
    width: 100%;
    height: auto;


}
.responsive{
    padding: 0 6px;
    float: left;
    width: 25%;
}

#sendBtn{
    color: black;
    background-color:#FFFF66;
}

hr{
    background-color:  gray;
}






.gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
.gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
.gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

@media (max-width: 450px) {
    .gallery {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
        -webkit-column-width: 100%;
        -moz-column-width: 100%;
        column-width: 100%;
    }
}



#icons{
    color: white !important;
}



#demo img{
    border-radius: 50%;
    
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
    height: 50px;
    background-color: black;
    color: white;
    
}


#grad{
    color: white;
    background: rgb(219,219,219);
background: linear-gradient(0deg, rgba(219,219,219,1) 43%, rgba(0,0,0,1) 84%);
     background-repeat: no-repeat;
    min-height: 100%;
}

#myBtn {
opacity: 70%;
  display: none;
  position: fixed;
  bottom: 60px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: 2px;
  border-style: solid;
  background-color: yellow;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}










